body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://i.pinimg.com/originals/eb/2d/ac/eb2dac68a351180bf1f6bbb5b5599c2d.gif');
    background-size: cover;
}
.container {
    text-align: center;
}
.buttons {
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff85a2;
    color: white;
    border-radius: 5px;
}
.btn:hover {
    background-color: #d66fc9;
}

& .kirby {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
  }

